---
- name: Create EC2 SSH key pair and save private key locally
  amazon.aws.ec2_key:
    region: "{{ aws_region }}"
    name: "{{ cluster_name }}-key"
    state: present
  register: ec2_key

- name: Save private key to local file (only on first run)
  copy:
    content: "{{ ec2_key.key.private_key }}"
    dest: "./{{ cluster_name }}-key.pem"
    mode: '0600'
  when: ec2_key.changed
  
- name: Launch Kubernetes nodes
  amazon.aws.ec2_instance:
    region: "{{ aws_region }}"
    instance_type: "{{ instance_type }}"
    image_id: "{{ ami_id }}"
    key_name: "{{ ssh_key_name }}"
    vpc_subnet_id: "{{ subnet_id }}"
    security_groups:
      - "{{ security_group_id }}"
    network:
      assign_public_ip: yes
    user_data: "{{ lookup('template', 'user_data.sh.j2') }}"
    exact_count: "{{ item.value.count }}"
    tags:
      Name: "{{ item.value.prefix }}-{{ idx }}"
      Role: "{{ item.value.role }}"
      Cluster: "{{ cluster_name }}"
    exact_count: "{{ item.value.count }}"
    #instance_tags:
      #Name: "{{ item.value.prefix }}-{{ idx }}"
      #Role: "{{ item.value.role }}"
  loop: "{{ nodes | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
    index_var: idx
  register: ec2